MYSQL_PASSWORD=parcel_delivery_root

# MySQL host and port
# mysql:3306 for Docker network
# host.docker.internal:3306 for host machine
MYSQLD_EXPORTER_TARGET=mysql:3306
MYSQLD_EXPORTER_PASSWORD=exporter_password

INNODB_BUFFER_POOL_SIZE=8G
